:root {
  --color-primary: #084A83;
  --color-secondary: #f0f8ff;
  --color-gray: #414141;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
  --font-primary:'Caesar Dressing', cursive;
}

/* Fonts */
.logo-text {
  margin: auto;
  font-family: var(--font-primary);
  color: var(--color-primary);
  letter-spacing: .2rem;
}
.logo-slogan{
  font-size: .7rem;
  letter-spacing: normal;
}

/* Colors */
.color-success {
  color: var(--color-success);
}
.color-danger {
  color: var(--color-danger);
}
/* Navbar */
.collapse-navbar {
  display: none;
}
input.navbar-toggler:checked~.collapse-navbar {
  position: absolute;
  display: block;
  padding: .2rem 1rem;
  right: 0;
  top: 5rem;
  background-color: #fbfbfb;
  box-shadow: var(--mdb-navbar-box-shadow);
  width: 100%;
}
label i.fa-bars::before {
  font-size: 1.5rem;
}
/* Buttons */
.btn.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
}
.btn.primary.full {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 0;
  color: var(--color-secondary);
  margin: 0;
  width: 100%;
}
.btn.btn-tertiary {
  color: var(--color-gray);
}
.btn.primary:hover, .btn.primary:active, .btn.primary.full:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.btn.btn-tertiary:hover, .btn.btn-tertiary:active {
  color: var(--color-primary) !important;
}
.btn.color-danger:hover {
  color: var(--color-danger) !important;
}
.btn-group i {
  font-size: 1.5rem;
  padding: .3rem;
}
.btn.text-link {
  background-color: none;
  color: var(--color-primary);
  text-transform: capitalize;
  text-decoration: underline;
  box-shadow: none;
}

/* Form */
.form-control {
  border: 1px solid #bdbdbd !important;
}
.form-control:focus {
  border: 1px solid #3b71ca !important;
}
.input-group .form-label {
  margin-left: 2.5rem !important;
  z-index: 6;
}
.form-control:focus~.form-label {
  background-color: #ffffff;
}
.custom-select {
  position: relative;
}
.select-fake-label {
  background-color: white;
  font-size: .8rem;
  margin-left: 1rem;
  position: absolute;
  top: -10px;
}
input.form-control:valid:not(:focus)~label.form-label {
  background-color: white;
  font-size: .8rem;
  top: -16px;
}
.select.form-control:focus~.select-fake-label {
  color: var(--color-primary);
}
.custom-file {
  background-color: transparent;
  position: relative;
}
.custom-file-input {
  opacity: 0;
  width: 90px;
  height: 32px;
  display: inline-block;
}
.custom-file::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\f093';
}
.custom-file::after {
  content: 'Importar';
  color: var(--color-gray);
  opacity: 1;
  margin: 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.custom-file:hover {
  color: var(--color-primary);
}
.custom-file:hover::after {
  color: var(--color-primary);
}

/* Tables */
tr.description {
  display: none;
}
tr {
  display: flex;
  flex-direction: column;
}
td {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
td::before {
  text-align: start;
  text-transform: uppercase;
  font-weight: bold;
}
td.nombre-id::before {
  content: 'nombre id';
}
td.cantidad-peso::before {
  content: 'cantidad peso';
}
td.precio::before {
  content: 'precio';
}
td.opciones::before {
  content: 'opciones';
}
tr td:last-of-type {
  border-bottom: .3rem solid var(--color-primary);
}
.table {
  margin: auto;
  margin-top: 3rem;
}

/* Messages */
.table-message {
  margin: 4.5rem;
  text-align: center;
}
.table-message i::before {
  font-size: 10rem;
}
.link-message {
  text-decoration: underline;
  cursor: pointer;
}
.message-alert {
  align-items: center;
  border-radius: 1rem;
  bottom: 2rem;
  color: var(--color-secondary);
  display: flex;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  z-index: 100;
}
.message-alert.color-success {
  background-color: var(--color-success);
}
.message-alert.color-error {
  background-color: var(--color-danger);
}

/* Responsive  */
@media screen and (min-width: 576px) {
  .table {
    max-width: calc(100vw/1.5);
  }
}
@media screen and (min-width: 768px) {
  tr.description {
    display: flex;
  }
  tr {
    flex-direction: row;
  }
  td.nombre-id::before {
    content: '';
  }
  td.cantidad-peso::before {
    content: '';
  }
  td.precio::before {
    content: '';
  }
  td.opciones::before {
    content: '';
  }
  tr td:last-of-type {
    border-bottom: 1px solid #e1e1e1;
  }
}
@media screen and (min-width: 992px) {
  input.navbar-toggler:checked~.collapse-navbar {
    top: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .collapse-navbar {
    display: block;
  }
}