:root {
  --color-primary: #084A83;
  --color-secondary: #f0f8ff;
  --color-gray: #414141;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
  --font-primary:'Caesar Dressing', cursive;
}

/* Fonts */
.logo-text {
  margin: auto;
  font-family: var(--font-primary);
  color: var(--color-primary);
  letter-spacing: .2rem;
}
.logo-slogan{
  font-size: .7rem;
  letter-spacing: normal;
}

/* Colors */
.color-success {
  color: var(--color-success);
}
.color-danger {
  color: var(--color-danger);
}

/* Buttons */
.btn.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
}
.btn.primary.full {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 0;
  color: var(--color-secondary);
  margin: 0;
  width: 100%;
}
.btn.btn-tertiary {
  color: var(--color-gray);
}
.btn.primary:hover, .btn.primary:active, .btn.primary.full:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.btn.btn-tertiary:hover, .btn.btn-tertiary:active {
  color: var(--color-primary) !important;
}
.btn.color-danger:hover {
  color: var(--color-danger) !important;
}

/* Form */
.form-control {
  border: 1px solid #bdbdbd !important;
}
.form-control:focus {
  border: 1px solid #3b71ca !important;
}
.input-group .form-label {
  margin-left: 2.5rem !important;
  z-index: 6;
}
.form-control:focus~.form-label {
  background-color: #ffffff;
}
.custom-select {
  position: relative;
}
.select-fake-label {
  background-color: white;
  font-size: .8rem;
  margin-left: 1rem;
  position: absolute;
  top: -10px;
}
input.form-control:valid:not(:focus)~label.form-label {
  background-color: white;
  font-size: .8rem;
  top: -16px;
}
.select.form-control:focus~.select-fake-label {
  color: var(--color-primary);
}

/* Tables */
.table {
  margin: auto;
  margin-top: 3rem;
  max-width: calc(100vw/1.5);
}

/* Messages */
.table-message {
  text-align: center;
}
.table-message i::before {
  font-size: 10rem;
}
.link-message {
  text-decoration: underline;
  cursor: pointer;
}
.message-alert {
  align-items: center;
  border-radius: 1rem;
  bottom: 2rem;
  color: var(--color-secondary);
  display: flex;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  z-index: 100;
}
.message-alert.color-success {
  background-color: var(--color-success);
}
.message-alert.color-error {
  background-color: var(--color-danger);
}